build
3rdparty
ShaderGen
__pycache__
*.csv
*.log
cm_kernel_output
vtune_profile
dist
zbench.egg-info

cpp_ext_test/cpp/__pycache__
cpp_ext_test/cpp/build
cpp_ext_test/cpp/dist
cpp_ext_test/cpp/lltm_cpp.egg-info