[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/pybind11_json"]
	path = 3rdparty/pybind11_json
	url = https://github.com/pybind/pybind11_json
